body {
    margin: 0em;
    font-family: times, serif;
    line-height: normal;
    font-size: medium;
    color: black;
}
body.info {
    margin: 1em;
    font-family: times, serif;
    line-height: normal;
    color: black;
}
a {
    color: black;
}
a.ref {
    font-size: 8pt;
    text-decoration: none;
    font-style: italic;
    color: black;
}
li.optional {
    font-size: x-small;    
}
p {
    text-align: justify;
}
p.epigraph {
    margin-left: 12em;
}
table {
    border-collapse: collapse;
}
